{% extends "base.html" %} {% block title %}Home{% endblock %}

<!-- Main -->
{% block content%}
<!-- Banner -->
<div id="wrapper">
  <section id="banner" class="major">
    <div class="inner">
      <header class="major">
        <h1>Team SHEAA: Exploring AI's Robustness through Error Simulations</h1>
      </header>
      <div class="content">
        <p>
          Simulating hardware errors in existing language models<br />
          to gain more insight into the limits these models have.
        </p>
        <ul class="actions">
          <li><a href="/AboutModel" class="button next scrolly">Check out our models</a></li>
        </ul>
      </div>
    </div>
  </section>

  <div id="main">
    <!-- One -->
    <section id="one" class="tiles">
      <article>
        <span class="image">
          <img src="static/images/pic01.jpg" alt="" />
        </span>
        <header class="major">
          <h3><a href="/AboutModel/GPT-2" class="link">GPT-2</a></h3>
          <p>Predicts and generates the next words in an inputted prompt</p>
        </header>
      </article>
      <article>
        <span class="image">
          <img src="static/images/pic02.jpg" alt="" />
        </span>
        <header class="major">
          <h3><a href="/AboutModel/Bart" class="link">Bart</a></h3>
          <p>creates a summary of an inputted prompt</p>
        </header>
      </article>
      <article>
        <span class="image">
          <img src="static/images/pic03.jpg" alt="" />
        </span>
        <header class="major">
          <h3><a href="/AboutModel/Bert-base" class="link">Bert</a></h3>
          <p>predicts and generates a word to fill in a blank in an inputted sentence</p>
        </header>
      </article>
      <article>
        <span class="image">
          <img src="static/images/pic05.jpg" alt="" />
        </span>
        <header class="major">
          <h3><a href="/AboutModel/RoBERTa" class="link">RoBERTa</a></h3>
          <p>predicts and generates a word to fill in the blank specified in the prompt</p>
        </header>
      </article>
    </section>
  </div>
</div>
<br>
{% endblock %}